.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12
      #homepage.row-fluid
        .span2
          = image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
          %h3.act-now
            %span.act-now-hightlight
              Act Now!
            The Deadline to include listins in the print edition is
            %span.act-now-hightlight
              May 30th, 2014
        .span10
          .div{style: 'background: white; margin: 10px; padding: 20px; min-height: 400px;'}
            %h1.heading RESEND CONFIRMATION INSTRUCTIONS
            = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
              = f.error_notification
              = f.full_error :confirmation_token
              .form-inputs
                = f.input :email, :required => true, :autofocus => true
              .form-actions
                = f.button :submit, "Resend confirmation instructions"
            = render "devise/shared/links"
