.content
  %h2{style: 'margin-left: 180px;'} Sign up
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    = f.error_notification
    = display_base_errors resource
    = f.input :name, :autofocus => true, label: 'Contact', required: true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    %hr
    = f.input :company_name
    = f.input :sub_company_name
    = f.input :address_1
    = f.input :address_2
    = f.input :city
    = f.input :state
    = f.input :zip
    .control-group
      .controls
        = country_select("user", "country", [ "United States" ])
    %hr
    = f.input :website
    = f.input :phone_1
    = f.input :phone_2
    = f.input :fax
    .form-actions
      = f.button :submit, 'Sign up', :class => 'btn-primary'