= simple_form_for([:admin, @company]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :contact_name, input_html: {class: 'span8'}, placeholder: 'Joe Foo'
    = f.input :company_name, input_html: {class: 'span8'}, placeholder: 'Trend Publishing'
    = f.input :sub_company_name, input_html: {class: 'span8'}, placeholder: 'Metals Directory'
    = f.input :address_1, input_html: {class: 'span8'}, placeholder: '625 N. Michigan ave.'
    = f.input :address_2, input_html: {class: 'span8'}, placeholder: 'Suite 1100'
    = f.input :city, input_html: {class: 'span8'}, placeholder: 'Chicago'
    = f.input :addr_state, input_html: {class: 'span8'}, placeholder: 'IL'
    = f.input :zip, input_html: {class: 'span8'}, placeholder: '60611-3110'
    .control-group
      .controls
        = country_select("company", "country", [ "United States" ])
    = f.input :website, input_html: {class: 'span8'}, placeholder: 'http://trendpublishing.com'
    = f.input :phone_1, input_html: {class: 'span8'}, placeholder: '312-555-5555'
    = f.input :phone_2, input_html: {class: 'span8'}, placeholder: '312-555-5555'
    = f.input :fax, input_html: {class: 'span8'}, placeholder: '312-555-5555'
    = f.input :logo_package_id, collection: LogoPackage.all.sort_by(&:price_cents)
    = f.input :logo

    %hr
    %h2 Branches
    = f.simple_fields_for :branch do |builder|
      = render 'branch_fields', f: builder
    = link_to_add_fields "Add branch", f, :branches
    %hr

    %h2 Categories Selection
    .span12
      %label.checkbox
        %strong If you are a Metal Service Center / Distributor or Metal Products check this.
        %input#metal_service_center_or_distributor_checkbox{type: "checkbox"}

      #equipment_sales_categories.multiple-nested-list
        .select-ids{data: {name: "company[equipment_categorizable_ids][]"}}
          - @company.equipment_categorizable_ids.each do |id|
            = f.hidden_field :equipment_categorizable_ids, multiple: true, value: id
        .span12.top
          %h5 EQUIPMENT SALES CATEGORIES
          .span3
            .nested-list.left-list
              - Equipment.master.each do |e|
                .item-row
                  .item{data: {id: e.id}, class: "#{'disabled' if @company.equipment_categorizables.include?(e)}"}= e.name
                  .sub-list.hide
                    - e.sub_equipments.each do |sub|
                      .item.sub-item{data: {id: sub.id}, class: "#{'disabled' if @company.equipment_categorizables.include?(sub)}"}= sub.name
          .span1.nested-list-move
            %i.icon-arrow-right
          .pan4.no-lmar
            .nested-list.right-list
              - @company.equipment_categorizables.each do |eq|
                .item{data: {id: eq.id}}=eq.name

      .multiple-nested-list
        .select-ids{data: {name: "company[material_categorizable_ids][]"}}
          - @company.material_categorizable_ids.each do |id|
            = f.hidden_field :material_categorizable_ids, multiple: true, value: id
        .span12
          %h5 MATERIALS CATEGORIES
          .span3
            .nested-list.left-list
              - Material.master.each do |cat|
                .item-row
                  .item{data: {id: cat.id}, class: "#{'disabled' if @company.material_categorizables.include?(cat)}"}= cat.name
                  .sub-list.hide
                    - cat.sub_materials.each do |sub|
                      .item.sub-item{data: {id: sub.id}, class: "#{'disabled' if @company.material_categorizables.include?(sub)}"}= sub.name
          .span1.nested-list-move
            %i.icon-arrow-right
          .pan4.no-lmar
            .nested-list.right-list
              - @company.material_categorizables.each do |cat|
                .item{data: {id: cat.id}}=cat.name

      .multiple-nested-list
        .select-ids{data: {name: "company[service_categorizable_ids][]"}}
          - @company.service_categorizable_ids.each do |id|
            = f.hidden_field :service_categorizable_ids, multiple: true, value: id
        .span12
          %h5 SERVICES CATEGORIES
          .span3
            .nested-list.left-list
              - Service.master.each do |cat|
                .item-row
                  .item{data: {id: cat.id}, class: "#{'disabled' if @company.material_categorizables.include?(cat)}"}= cat.name
                  .sub-list.hide
                    - cat.sub_services.each do |sub|
                      .item.sub-item{data: {id: sub.id}, class: "#{'disabled' if @company.material_categorizables.include?(sub)}"}= sub.name
          .span1.nested-list-move
            %i.icon-arrow-right
          .pan4.no-lmar
            .nested-list.right-list
              - @company.service_categorizables.each do |cat|
                .item{data: {id: cat.id}}=cat.name

    .span10
      %h4 CATEGORY LOGO SELECTION (PRINT)
      %h5 Equipment Categories
      = f.association :equipment_print_printables, collection: @equipment_categories, label: false, as: :check_boxes

      %h5 Material Categories
      = f.association :material_print_printables, collection: @material_categories, label: false, as: :check_boxes

      %h5 Service Categories
      = f.association :service_print_printables, collection: @service_categories, label: false, as: :check_boxes
    
    .span10.top
      %h4  CATEGORY SPONSORSHIP (ONLINE)
      %h5 Equipment Categories
      = f.association :equipment_online_onlineables, collection: @equipment_categories, label: false, as: :check_boxes

      %h5 Material Categories
      = f.association :material_online_onlineables, collection: @material_categories, label: false, as: :check_boxes

      %h5 Service Categories
      = f.association :service_online_onlineables, collection: @service_categories, label: false, as: :check_boxes
  .form-actions.span12
    = f.button :submit
    = link_to 'Back', admin_companies_path, class: 'btn'

= javascript_include_tag 'category_selections'