- content_for :title, "Step 4: Category Selection"
-#- content_for :description, ""
-#- content_for :keywords, ""
- content_for :head do
  = javascript_include_tag "add_fields"

.content
  .row-fluid
    .span4
      %h1.heading REGISTRATION

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-inverse 3
          %li
            %span.badge 4
          %li
            %span.badge 5
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}

      = simple_form_for(@company, url: wizard_path, :method => :put, :html => {:class => 'form-vertical' }) do |f|

        %h4 CATEGORY SELECTION
        %p Put your message in front of potential customers right when they're searching for what you have to offer both in print and online.
        = link_to('See example of Category Sponsors', asset_path("category_logo.pdf"))

        %p Choose Equipment Sales, Materials, and Services

        %label.checkbox
          %strong If you are a Metal Service Center / Distributor or Metal Products check this.
          %input#metal_service_center_or_distributor_checkbox{type: "checkbox"}

        #equipment_sales_categories
          .span6.top
            %h5 EQUIPMENT SALES CATEGORIES
            = f.association :equipment_categorizables, collection: Equipment.all(order: 'name'), label: false, :input_html => {class: 'searchable'}
          .span6.top
            %h5 EQUIPMENT SALES SUB-CATEGORIES
            = f.association :equipment_sub_categorizables, collection: Equipment.all(order: 'name'), label: false, :input_html => {class: 'searchable'}
        .span6.no-lmar.top
          %h5 MATERIALS CATEGORIES
          = f.association :material_categorizables, collection: Material.all(order: 'name'), label: false, :input_html => {class: 'searchable'}
        .span6.top
          %h5 MATERIALS SUB-CATEGORIES
          = f.association :material_sub_categorizables, collection: Material.all(order: 'name'), label: false, :input_html => {class: 'searchable'}
        .span6.no-lmar.top
          %h5 SERVICE CATEGORIES
          = f.association :service_categorizables, collection: Service.all(order: 'name'), label: false, :input_html => {class: 'searchable'}
        .span6.top
          %h5 SERVICE SUB-CATEGORIES
          = f.association :service_sub_categorizables, collection: Service.all(order: 'name'), label: false, :input_html => {class: 'searchable'}
        .span12
          .form-actions
            %button.btn.btn-primary.pull-right
              Continue
              %i.icon-arrow-right
