- content_for :title, "Step 4: Category Selection"
-#- content_for :description, ""
-#- content_for :keywords, ""
- content_for :head do
  = javascript_include_tag "add_fields"

.content
  .row-fluid
    .span4
      %h1.heading REGISTRATION

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-inverse 3
          %li
            %span.badge 4
          %li
            %span.badge 5
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}

      = simple_form_for(@company, url: wizard_path, :method => :put, :html => {:class => 'form-vertical' }) do |f|

        %h4 CATEGORY SELECTION
        %p Put your message in front of potential customers right when they're searching for what you have to offer both in print and online.
        = link_to('See example of Category Sponsors', asset_path("category_logo.pdf"))

        %p Choose Equipment Sales, Materials, and Services

        %label.checkbox
          %strong If you are a Metal Service Center / Distributor or Metal Products check this.
          %input#metal_service_center_or_distributor_checkbox{type: "checkbox"}

        #equipment_sales_categories.multiple-nested-list
          .select-ids{data: {name: "company[equipment_categorizable_ids][]"}}
            - @company.equipment_categorizable_ids.each do |id|
              = f.hidden_field :equipment_categorizable_ids, multiple: true, value: id
          .span12.top
            %h5 EQUIPMENT SALES CATEGORIES
            .span4
              .nested-list.left-list
                - Equipment.master.each do |e|
                  .item-row
                    .item{data: {id: e.id}, class: "#{'disabled' if @company.equipment_categorizables.include?(e)}"}= e.name
                    .sub-list.hide
                      - e.sub_equipments.each do |sub|
                        .item.sub-item{data: {id: sub.id}, class: "#{'disabled' if @company.equipment_categorizables.include?(sub)}"}= sub.name
            .span1.nested-list-move
              %i.icon-arrow-right
            .pan4.no-lmar
              .nested-list.right-list
                - @company.equipment_categorizables.each do |eq|
                  .item{data: {id: eq.id}}=eq.name

        .multiple-nested-list
          .select-ids{data: {name: "company[material_categorizable_ids][]"}}
            - @company.material_categorizable_ids.each do |id|
              = f.hidden_field :material_categorizable_ids, multiple: true, value: id
          .span12.top
            %h5 MATERIALS CATEGORIES
            .span4
              .nested-list.left-list
                - Material.master.each do |cat|
                  .item-row
                    .item{data: {id: cat.id}, class: "#{'disabled' if @company.material_categorizables.include?(cat)}"}= cat.name
                    .sub-list.hide
                      - cat.sub_materials.each do |sub|
                        .item.sub-item{data: {id: sub.id}, class: "#{'disabled' if @company.material_categorizables.include?(sub)}"}= sub.name
            .span1.nested-list-move
              %i.icon-arrow-right
            .pan4.no-lmar
              .nested-list.right-list
                - @company.material_categorizables.each do |cat|
                  .item{data: {id: cat.id}}=cat.name

        .multiple-nested-list
          .select-ids{data: {name: "company[service_categorizable_ids][]"}}
            - @company.service_categorizable_ids.each do |id|
              = f.hidden_field :service_categorizable_ids, multiple: true, value: id
          .span12.top
            %h5 SERVICES CATEGORIES
            .span4
              .nested-list.left-list
                - Service.master.each do |cat|
                  .item-row
                    .item{data: {id: cat.id}, class: "#{'disabled' if @company.material_categorizables.include?(cat)}"}= cat.name
                    .sub-list.hide
                      - cat.sub_services.each do |sub|
                        .item.sub-item{data: {id: sub.id}, class: "#{'disabled' if @company.material_categorizables.include?(sub)}"}= sub.name
            .span1.nested-list-move
              %i.icon-arrow-right
            .pan4.no-lmar
              .nested-list.right-list
                - @company.service_categorizables.each do |cat|
                  .item{data: {id: cat.id}}=cat.name

        .span12
          .form-actions
            %button.btn.btn-primary.pull-right
              Continue
              %i.icon-arrow-right
