- content_for :title, "Step 4: Category Selection"
-#- content_for :description, ""
-#- content_for :keywords, ""
- content_for :head do
  = javascript_include_tag "add_fields"

.content
  .row-fluid
    .span4
      %h1.heading REGISTRATION

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-info 3
          %li
            %span.badge.badge-inverse 4
          %li
            %span.badge 5
          %li
            %span.badge 6
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}

      = simple_form_for(@company, url: wizard_path, :method => :put, :html => {:class => 'form-vertical' }) do |f|
        %h4 CATEGORY SELECTION
        %p Choose equipment, materials...

        %h5 EQUIPMENT SALES CATEGORIES
        = f.association :company_equipment_selections, collection: Equipment.all(order: 'name'), label: false, :input_html => {class: 'searchable'}

        %h5 MATERIALS CATEGORIES
        = f.association :company_material_selections, collection: Material.all(order: 'name'), label: false, :input_html => {class: 'searchable'}

        %h5 SERVICE CATEGORIES
        = f.association :company_service_selections, collection: Service.all(order: 'name'), label: false, :input_html => {class: 'searchable'}

        -#-#= f.collection :category, :collection => Category.where(category_type: 'Equipment'), :label_method => "EQUIPMENT SALES CATEGORIES", :value_method => :id
        -#= hidden_field_tag "company[category_ids][]", nil
        -#- @equipment_categories.each do |category|
        -#  = check_box "company[category_ids]", category.id
        -#  = label_tag dom_id(category), category.name
        -#  -#= f.input :category, :as => :boolean, :label => "#{category.name}", :inline_label => true
        -#
        -#%h5 MATERIALS CATEGORIES
        -#%p Choose materials...
        -#= hidden_field_tag "company[category_ids][]", nil
        -#- @material_categories.each do |category|
        -#  = check_box "company[category_ids]", category.id
        -#  = label_tag dom_id(category), category.name
        -#
        -#%h5 SERVICE CATEGORIES
        -#%p Choose services...
        -#= hidden_field_tag "company[category_ids][]", nil
        -#- @service_categories.each do |category|
        -#  = check_box "company[category_ids]", category.id
        -#  = label_tag dom_id(category), category.name



        .form-actions
          %button.btn.btn-primary.pull-right
            Continue
            %i.icon-arrow-right
