- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  = javascript_include_tag 'https://js.stripe.com/v1/', 'order'

.content
  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}
      %h1 PAYMENT OPTIONS
      #stripe_error.alert.alert-error{style: "display:none"}
      = simple_form_for(@user, url: wizard_path, :html => {:class => 'form-horizontal order_form' }) do |f|
        .field
          Total amount: <strong>$#{@company.total_amount}</strong>
        = check_box_tag :bill_me_later
        = hidden_field_tag :price, @company.total_amount*100
        %span Bill me later
        = f.error_notification
        = display_base_errors resource
        #card-form
          #stripe_error
            %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
          .field.top
            = label_tag :card_number, "Credit Card Number"
            = text_field_tag :card_number, nil, name: nil
          .field
            = label_tag :card_code, "Card Security Code (CVV)"
            = text_field_tag :card_code, nil, name: nil
          .field
            = label_tag :card_month, "Card Expiration"
            = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
            = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}
          = f.hidden_field :stripe_card_token
        .row-fluid
          .span12
            .form-actions
              %button.btn.btn-primary.pull-right
                Continue
                %i.icon-arrow-right