.content
  .row-fluid
    .span4
      %h1 REGISTRATION
    .span8
      .span6.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-inverse 2
          %li
            %span.badge 3
          %li
            %span.badge 4
          %li
            %span.badge 5
          %li
            %span.badge 6
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}
      %h4 NEW LISTING
      %p
        Fill out...
  .row-fluid
    .span12
      = simple_form_for(@company, url: wizard_path, :method => :put, :html => {:class => 'form-horizontal' }) do |f|
        = f.input :company_name, label: "Company Name"
        = f.input :sub_company_name, label: "Sub Company Name"
        = f.input :address_1, label "Address 1"
        = f.input :address_2, label: "Address 2"
        = f.input :city, label: "City"
        = f.input :state, label: "State"
        = f.input :zip, label: "ZIP Code"
        .control-group
          .controls
            = country_select("company", "country", [ "United States" ])
        %hr
        = f.input :website, label: "Website"
        = f.input :phone_1, label: "Phone 1"
        = f.input :phone_2, label: "Phone 2"
        = f.input :fax
        .form-actions
          %button.btn.btn-primary.pull-right
            Continue
            %i.icon-arrow-right
