- content_for :head do
  = javascript_include_tag 'logo_upload'

.content
  .row-fluid
    .span4
      %h1 REGISTRATION

    .span8
      .span6.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-inverse 3
          %li
            %span.badge 4
          %li
            %span.badge 5
          %li
            %span.badge 6
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}
      %h4 SELECT LOGO PACKAGE: PRINT
      %p
        The Metals Directory gives your company....
  .row-fluid
    = simple_form_for(@company, :method => :put, url: wizard_path) do |f|
      .row-fluid
        .span6
          = f.input :logo_package_id, collection: LogoPackage.all.sort_by(&:price_cents)
          = f.file_field :logo, multiple: true, name: "user[logo]"

        .span6
          .thumbnail
            #logo
            %h5= @company.company_name
            %p
              = @company.address_1
              = @company.address_2
            %p
              P:
              = @company.phone_1
              F:
              = @company.fax
            %p= @company.website

        .form-actions
          %button.btn.btn-primary.pull-right
            Continue
            %i.icon-arrow-right
