- content_for :head do
  = javascript_include_tag 'logo_upload'

.content
  .row-fluid
    .span4
      %h1 REGISTRATION UPGRADE

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-info 3
          %li
            %span.badge.badge-info 4
          %li
            %span.badge.badge-inverse 5
          %li
            %span.badge 6
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}
      %h4 SELECT LOGO PACKAGE: PRINT
      %p
        Stop the reader’s eye at your listing in the pages of the directory and promote your company with a 1-inch or 2-inch logo. Buy a print company logo and get an online company logo fro FREE.
      %p
        Click for an example page of logos with listings. (We will have a link to a sample page)
  .row-fluid
    = simple_form_for(@company, :method => :put, url: wizard_path) do |f|
      .row-fluid
        .span6
          = f.input :logo_package_id, collection: LogoPackage.all.sort_by(&:price_cents)
          = f.file_field :logo, multiple: true, name: "user[logo]"

        .span6
          .thumbnail
            #logo
            %h5= @company.company_name
            %p
              = @company.address_1
              = @company.address_2
            %p
              P:
              = @company.phone_1
              F:
              = @company.fax
            %p= @company.website
      .row-fluid
        .span12
          .form-actions
            %button.btn.btn-primary.pull-right
              Continue
              %i.icon-arrow-right
