.content
  .row-fluid
    .span4
      %h1.heading REGISTRATION UPGRADE

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-info 3
          %li
            %span.badge.badge-info 4
          %li
            %span.badge.badge-inverse 5
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  = simple_form_for(@company, url: wizard_path, method: :put, :html => {:class => 'form-vertical' }) do |f|
    .row-fluid
      .span12
        %h4 CATEGORY LOGO SELECTION (PRINT)
        %p Company Logo Are $75
    .row-fluid
      #print_selections.span6
        %h5 Equipment Categories
        = f.association :equipment_print_printables, collection: @equipment_categories, label: false, as: :check_boxes, value: "75.00"

        %h5 Material Categories
        = f.association :material_print_printables, collection: @material_categories, label: false, as: :check_boxes, value: "75.00"

        %h5 Service Categories
        = f.association :service_print_printables, collection: @service_categories, label: false, as: :check_boxes, value: "1"

      .selection_cost_box.span6
        %strong.total_cost TOTAL COST
        %input#print_selections_cost{value: "$#{@company.print_cost}"}

    .row-fluid
      .span12
        %h4 CATEGORY SPONSORSHIP (ONLINE)
        %p $400
    .row-fluid
      #online_selections.span6
        %h5 Equipment Categories
        = f.association :equipment_online_onlineables, collection: @equipment_categories, label: false, as: :check_boxes

        %h5 Material Categories
        = f.association :material_online_onlineables, collection: @material_categories, label: false, as: :check_boxes

        %h5 Service Categories
        = f.association :service_online_onlineables, collection: @service_categories, label: false, as: :check_boxes

      .selection_cost_box.span6
        %strong.total_cost TOTAL COST
        %input#online_selections_cost{value: "$#{@company.online_cost}"}

    .row-fluid
      .span12
        .form-actions
          %button.btn.btn-primary.pull-right
            Continue
            %i.icon-arrow-right
