-#move this
- @categories = Category.all

.content
  .row-fluid
    .span4
      %h1 REGISTRATION

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-info 3
          %li
            %span.badge.badge-info 4
          %li
            %span.badge.badge-info 5
          %li
            %span.badge.badge-inverse 6
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span6{style: 'margin-bottom: 40px;'}
      = simple_form_for(@user, url: wizard_path, :html => {:class => 'form-horizontal' }) do |f|
        %h4 CATEGORY LOGO SELECTION (PRINT)
        %p Company logos are $50...
        = hidden_field_tag "user[category_ids][]", nil
        - @categories.each do |category|
          = check_box "user[category_ids]", category.id
          = label_tag dom_id(category), category.name
    .span6
      .category-logo-selection-cost
        %strong
          Total Cost
  .row-fluid
    .span6{style: 'margin-bottom: 40px;'}
      %h4 CATEGORY SPONSORSHIP (ONLINE)
      %p $400...
      = hidden_field_tag "user[category_ids][]", nil
      - @categories.each do |category|
        = check_box "user[category_ids]", category.id
        = label_tag dom_id(category), category.name
    .span6
      .category-sponsorship-cost
        %strong
          Total Cost

  = link_to 'Continue', wizard_path(:checkout), class: 'btn btn-primary pull-right'
