- content_for :title, "Step 3: Branch Locations"
-#- content_for :description, ""
-#- content_for :keywords, ""
- content_for :head do
  = javascript_include_tag "add_fields"


.row
  .span4
    %h1 REGISTRATION

  .span8
    %ul.inline.pull-right
      %li
        %span.badge.badge-info 1
      %li
        %span.badge.badge-info 2
      %li
        %span.badge.badge-inverse 3
      %li
        %span.badge 4
      %li
        %span.badge 5
      %li
        %span.badge 6
      %li
        %span.badge CONFIRM
.row
  .span12{style: 'margin-bottom: 40px;'}
    %h4 BRANCH LOCATION (ONLINE ONLY)
    %p Branch locations only...
    = simple_form_for(@user, url: wizard_path, :html => {:class => 'form-horizontal' }) do |f|
      = f.simple_fields_for :branch do |builder|
        = render 'branch_fields', f: builder
      = link_to_add_fields "Add branch", f, :branches


= link_to 'Next', wizard_path(:step4), class: 'btn btn-primary pull-right'