.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12

      - if user_signed_in?
        %h1
          = current_user.company_name
          Dashboard
        %p Show company ads here.
        %p If registration isn't finished show that here
      - else
        .row-fluid
          .span2
            = image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
          .span5
            .div{style: 'background: white; margin: 10px;'}
              %h2.search-inside
                %em
                  Search Inside
                  %i.icon-arrow-right.icon-4
              %p The most comprehensive annual guide to metalworking euipment, materials and services in print and online
              = link_to 'SIGN UP NOW', new_user_registration_path, class: 'btn btn-danger btn-large'

              = simple_form_for("user", :url => user_session_path, :html => {:class => 'form-inline' }) do |f|
                = f.input :email, autofocus: true, placeholder: "Email", label: false
                = f.input :password, placeholder: "Password", label: false
                = f.input :remember_me, inline_label: 'Yes, remember me', label: false, as: :boolean if devise_mapping.rememberable?
                = f.button :submit, "Login", :class => 'btn-primary'
              = render "devise/shared/links"
          .span5{style: 'background: white; margin: 10px;'}



:css
  .the-metals-directory-magazine {
    padding: 20px;
  }
  .search-inside {
    color: #3dc6f4;
    text-transform: uppercase;
  }