.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12
      #homepage.row-fluid
        .span2
          = image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
          %h3.act-now
            %span.act-now-hightlight
              Act Now!
            The Deadline to include listins in the print edition is
            %span.act-now-hightlight
              May 30th, 2014
        .span10
          .div{style: 'background: white; margin: 10px; padding: 20px; min-height: 400px;'}
            %h1.heading CONTACT US
            %p
              %strong The Metals Directory®
              %br
              Trend Publishing, Inc.
              %br
              625 N. Michigan Ave. Suite 1100
              %br
              Chicago, IL 60611
              %br
              Tel: 312/654-2300
              %br
              Fax: 312/654-2323
              %br
              Michael D'Alexander, VP/Publisher
            %p
              For a copy of The Metals Directory, please contact us at 312-654-2325.
              %br
              The cost is $25 per issue plus shipping and handling.

            %h2 Editorial Contacts
            %p
              %strong MICHEAL D’ALEXANDER – VP/Publisher
              %br
              312/654-2317
              %br
              = mail_to 'mdalexander`@modernmetals.com'
            %h2 Sales Contacts
            %p
              To find out more about The Metals Directory, click on the e-mail address of the sales person representing your state or providence.
              %br
              %strong MICHAEL D'ALEXANDER – VP/Publisher
              %br
              AL, LA, MS
              %br
              312/654-2309
              %br
              = mail_to 'mdalexander@modernmetals.com'
            %p
              %strong JIM D'ALEXANDER - COO/VP eMedia
              %br
              FL, GA, IA, MN, Western NY, NC, PA, SC, SD, TN, TX
              %br
              312/654-2313
              %br
              = mail_to 'jdalexander@modernmetals.com'
            %p
              %strong BILL D'ALEXANDER - VP/Regional Sales Manager
              %br
              CT, DE, KY, MA, MD, ME, MO, NH, NJ,  Eastern NY, OH, RI, VA, VT, WV
              %br
              203/438-4174
              %br
              = mail_to 'bdalexander@modernmetals.com'
            %p
              %strong BOB D'ALEXANDER - VP/Regional Sales Manager
              %br
              IL, IN, KS, MI, Kansas City, MO, NE, WI, Canada
              %br
              616/942-0797
              %br
              = mail_to 'rdalexander@modernmetals.com'
            %p
              %strong LEE KULBARSH - Regional Sales Manager
              %br
              AK, AR, AR, CA, CO, HI, ID, MT, NV, OK, NM, ND, OR, UT, WA, WY, Western Canada
              %br
              760/720-0333
              %br
              = mail_to 'lkulbarsh@modernmetals.com'
            %p
              %strong TRACI FONVILLE - International Sales/Classified Ads & Logo Sales
              %br
              312/654-2325
              %br
              = mail_to 'tfon@modernmetals.com'

            %h2 Production
            %p
              %strong CARLOTTA LACY - VP Production
              %br
              312/654-2318
              %br
              = mail_to 'carlotta@modernmetals.com'

