.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12
      #homepage.row-fluid
        .span2
          = image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
          %h3.act-now
            %span.act-now-hightlight
              Act Now!
            The Deadline to include a listing in the print edition is
            %span.act-now-hightlight
              May 2,
              = Time.now.year + 1
        .span5
          .div{style: 'background: white; margin: 10px 10px 10px 30px;'}
            %h1.search-inside
              Search Online
              %i.icon-arrow-right.icon-4
            %p.info The most comprehensive guide to metalworking equipment, materials and services in print and online
            - if user_signed_in?
              .row-fluid
                .span12{style: 'margin: 10px;'}
                  %h1
                    -#= @user.company.company_name if @current_user.company.company_name.present?
                    Welcome
                  %p Show company ads here.
                  %p If registration isn't finished show that here
                  = link_to 'Logout', destroy_user_session_path, :method=>'delete'
            - else
              .row-fluid
                .new-to-the-metals-directory
                  %h2.sign-up New to The Metals Directory?
                  .row-fluid
                    .span12.sign-up-box
                      %a{href: new_user_registration_path}
                        .span9
                          Want a
                          %em free
                          listing in
                          %br
                          The Metals Directory
                          %br
                          both in print and online?
                        .span3.sign-up-box-button
                          %span
                            Sign Up Now

              .row-fluid
                .the-metals-directory-login
                  .span12.login-box
                    = simple_form_for("user", :url => user_session_path, :html => {:class => 'form-inline' }) do |f|
                      .row-fluid.login-submit-box
                        .span9.login-submit-box-form
                          %p.login-box-heading Update your company listing
                          = f.input :email, autofocus: true, placeholder: "Email", label: false, input_html: {class: 'span11'}
                          = f.input :password, placeholder: "Password", label: false, input_html: {class: 'span11'}
                        .span3.login-submit-box-button
                          = f.button :submit, "SUBMIT", :class => 'login-submit-button'

              .row-fluid
                .devise-links
                  = render "devise/shared/links"
        .span5{style: 'background: white; margin: 10px;'}
          %div{style: 'height: 100%;'}
            %p Search Coming Soon
