.span10
  .span4 &nbsp;
  .span6
    Keyword search:
    = text_field_tag :term
.span10
  .span4 &nbsp;
  .span6
    Category search:
.span10
  .span4
    %strong EQUIPMENT
  .span6= text_field_tag :equipment
.span10
  .span4
    %strong MATERIALS
  .span6= text_field_tag :material
.span10
  .span4
    %strong SERVICES
  .span6= text_field_tag :service
.span10
  .span4 &nbsp;
  .span6
    Location search:
    = text_field_tag :materials