= @company.contact_name
= @company.company_name
= @company.sub_company_name
= @company.address_1
= @company.address_2
= @company.city
= @company.state
= @company.zip
= @company.country
= @company.website
= @company.phone_1
= @company.phone_2
= @company.fax
= @company.logo_package_id
= @company.logo
