!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Metals Directory"
      %meta{:content => content_for?(:description) ? yield(:description) : "Metals Directory", :name => "description"}
      = stylesheet_link_tag "application", :media => "all"
      = javascript_include_tag "application"
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #left-background{style: "background-image: url(/assets/bg-left.jpg); width: 754px; height: 700px; position: absolute; top: 0; left: 0; z-index: 1;"}
    %header
      .container
        .logo{style: 'position: relative; z-index: 1; float: left; width: 209px; height: 58px;'}
          = link_to image_tag('logo.png'), root_path
        .slogan.pull-right{style: 'z-index: 1; position: relative;'}
          %h1{style: 'font-size: 16px;'} THE SOURCEBOOK FOR THE METALS INDUSTRY
    #main{:role => "main"}
      .container
        .content
          = render 'layouts/navigation'
          .row
            .span12{style: 'height: 90px; background: #666;'}
              %p TOP BANNER
          .row
            .span12
              = render 'layouts/messages'
              = yield
          .row
            .span12{style: 'height: 90px; background: #666;'}
              %p BOTTOM BANNER
          %footer
      / ! end of .container
    / ! end of #main
