!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Metals Directory"
      %meta{:content => content_for?(:description) ? yield(:description) : "Metals Directory", :name => "description"}
      = stylesheet_link_tag "application", :media => "all"
      = javascript_include_tag "application"
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #left-background{style: "background-image: url(/assets/bg-left.jpg); width: 754px; height: 700px; position: absolute; top: 0; left: 0; z-index: 1;"}
    %header
      .container
        .logo{style: 'position: relative; z-index: 1; float: left; width: 209px; height: 87px;'}
          = link_to image_tag('logo.png'), root_path
        .slogan.pull-right{style: 'z-index: 1; position: relative;'}
          %h1{style: 'font-size: 16px;'}
            %em THE SOURCEBOOK FOR THE METALS INDUSTRY
    #main{:role => "main", style: 'position: relative; z-index: 100;'}
      = render 'layouts/navigation'
      = render 'layouts/top_banner'
      .container
        .row-fluid{style: 'background: white;'}
          .span12
            = render 'layouts/messages'
            = yield
      = render 'layouts/bottom_banner'
      = render 'layouts/footer'